<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :avatar_image_data %>
    <%= form.text_area :avatar_image_data, id: :profile_avatar_image_data %>
  </div>

  <div class="field">
    <%= form.label :is_adviser %>
    <%= form.check_box :is_adviser, id: :profile_is_adviser %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
