<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Avatar image data:</strong>
  <%= @profile.avatar_image_data %>
</p>

<p>
  <strong>Is adviser:</strong>
  <%= @profile.is_adviser %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
