<%= form_with(model: categorisation, local: true) do |form| %>
  <% if categorisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categorisation.errors.count, "error") %> prohibited this categorisation from being saved:</h2>

      <ul>
      <% categorisation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.number_field :post_id, id: :categorisation_post_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id, id: :categorisation_category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
