<%= form_with(model: categorization, local: true) do |form| %>
  <% if categorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categorization.errors.count, "error") %> prohibited this categorization from being saved:</h2>

      <ul>
      <% categorization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.number_field :post_id, id: :categorization_post_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id, id: :categorization_category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
