<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar Image:</strong>
  <%=# @post.profile - change to show avatar image %>
</p>
<%= @user_id %>
<p>
  <%= @post.subject %>
</p>

<p>
  <%= @post.body %>
</p>

<% if adviser.id == current_adviser %>
  <%= link_to "Reply", new_reply_path %>
<% end %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %> |
<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', posts_path %>
