<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar Image:</strong>
</p>
<%= @user_id %>
<p>
  <%= @post.subject %>
</p>

<p>
  <%= @post.body %>
</p>

<% @replies.each do |reply| %>
  <div class="card">
    <p><%= reply.body %></p>
  </div>
<% end %>

<% if current_user.is_adviser? %>
  <%= render :partial => '/replies/form' %>
<% end %>

<%= link_to 'Back', posts_path, class:"btn btn-primary" %>

<% if @post.user.id == current_user.id %>
  <%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
<% end %>
