<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar Image:</strong>
</p>
<%= @user_id %>
<p>
  <%= @post.subject %>
</p>

<p>
  <%= @post.body %>
</p>

<% @replies.each do |reply| %>
  <div>
    <p><%= reply.body %></p>
  </div>
<% end %>

<% if adviser_signed_in? %>
  <%= render :partial => '/replies/form' %>
<% end %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %><br>

<%= link_to 'Back', posts_path, class:"btn btn-primary" %>
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
<%= link_to 'Reply', new_post_reply_path(@post), class:"btn btn-primary" %>
