<!DOCTYPE html>
<html>
  <head>
    <title>RailsLine</title>
    <%= csrf_meta_tags %>
    <link href=“https://fonts.googleapis.com/css?family=Poppins:300,400,500i,700i,800” rel=“stylesheet”>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>RailsLine</h1>
  <% if user_signed_in? %>
    <%= link_to'Logout', destroy_user_session_path, method: :delete, class:"btn btn-primary float-right" %>        
  <% else %>
    <%= link_to 'Login', new_user_session_path , class:"btn btn-primary float-right" %>  
  <% end %>
    <%= yield %>
  </body>
</html>
